@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 62.5% of 16px = 10px
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: $fs-base;
  color: $color-text;
  // background-color: $color-grey;
  width: 100vw;
  height: 100vh;
}

.bg {
  background: linear-gradient($blue-light, $red-light, $color-grey);
  background-repeat: no-repeat;
}

button {
  text-decoration: none;
  border: none;
  font-size: inherit;
  color: inherit;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}