@import 'variables';

button {
    text-decoration: none;
    border: none;
    font-size: inherit;
    color: inherit;
}

.project {

    &__header {
        font-size:                  $fs-xxl;
        font-weight:                $fw-black;
        -webkit-text-stroke-width:  1px;
        -webkit-text-fill-color:    transparent;
        -webkit-text-stroke-color:  $color-primary;
    }
}