@import 'variables';

.h1 {
    font-size: $fs-xxl;
    font-weight: $fw-black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: $color-primary;
}

.h2 {
    font-size: $fs-large;
    color: $color-primary;
    font-weight: $fw-black;
    text-decoration: none;
}

.h1.active {
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: $color-primary;
    -webkit-text-stroke-color: $color-primary;
}

.center {
    padding-left: $space-small;
    padding-right: $space-small;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: $color-primary;
    overflow-x: hidden;
    z-index: 1;

    &__nav {
        padding: $space-xl $space-small 0 $space-small;

        &-link {
            border-top: 1px solid $color-grey;
            padding: $space-medium 0;
            display: flex;
            justify-content: flex-end;

            &:last-child {
                border-bottom: 1px solid $color-grey;
            }
        }
    }

    & a {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: $fw-black;
        font-size: $fs-extra-large;
        text-decoration: none;
        color: white;
    }

    &-close__container {
        display: flex;
        justify-content: flex-end;
        padding: $space-large $space-small;
    }

    // &__social {
    //     display: flex;
    //     justify-content: flex-end;
    //     padding-top: $space-xxl;

    //     &-text {
    //         color: $color-grey;
    //         font-size: $fs-base;
    //         font-weight: 900;
    //         margin-left: $space-mini;
    //     }

    //     &-text span:first-child {
    //         color: #8690F8;
    //         font-size: 12px;
    //         font-weight: 300;
    //     }

    //     & img {
    //         width: 32px;
    //     }
    // }
}

.close-button {
    width: 24px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $space-small;
    
    &__logo {
        width: 6rem;
    }
}

.main {
    min-height: 100vh;
    padding-top: $space-xxl;
}

.project {

    &__panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height $tr-regular;
        line-height: 160%;
    }

    & img {
        width: 60%;
    }

    & span {
        display: inline-block;
        clear: both;
    }
}

.footer {
    // margin-top: $space-small;
    background-color: $color-grey;

    &__link {
        display: flex;
        justify-content: flex-end;
        padding: $space-medium 0;
        border-top: 1px solid $color-primary;
    }
}

.about {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;

    &__description {

        & .h2 {
            width: 60%;
            margin-top: $space-xl;
            margin-bottom: $space-mini;
        }

        &  span {
            display: inline-block;
            width: 80%;
            // margin: $space-small 0;
            line-height: 160%;
        }
    }
}

.contact {
    width: 100vw;
    background-color: $color-primary;
    color: $color-grey;

    &__heading {
        display: flex;
        justify-content: center;
        padding-top: $space-large;
    }

    & .h2 {
        color: $color-grey;
    }

    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;

        padding: $space-large 0 $space-xxl 0;
    }

    &__social {

        &:first-child {
            margin-right: $space-mini;
        }

        display: block;
        color: inherit;
        width: 15rem;
        height: 7rem;
        border: 1px solid $color-grey;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}