// Color codes
$blue: #0F24FA;
$blue-text: #414CC2;
$blue-light: rgba(205, 216, 220,.4);
$red-light: rgba(251,177,177,.1);
$grey: #EEEEEE;

// Semantic variables
$color-primary:     $blue;
$color-text: $blue-text;
$color-secondary:   $blue-light;
$color-tertiary:    $red-light;
$color-grey:        $grey;

// Font-sizes scaled based on the "The Perfect Fifth"
$fs-xxl:            5.4rem;
$fs-extra-large:    3.6rem;
$fs-large:          2.4rem;
$fs-base:   1.6rem;
$fs-small:  11rem;
$fs-mini:   .7rem;

// Font-weight
$fw-black: 900;
$fw-regular: 400;

// Spacing
$space-xxl: 10rem;
$space-xl: 4.2rem;
$space-large: 3.8rem;
$space-medium: 2.8rem;
$space-small: 2rem;
$space-mini: 1.2rem;

// Transitions
$tr-regular: .3s ease-in;